@import url(bootstrap.min.css);

@import url(font-awesome.min.css);

@import url(bootstrap-datepicker3.min.css);

body {
	background: rgba(221, 221, 221, 0.15);
}

a {
	color: #42305F;
}

.navbar-default {
	background-color: #fafafa;
	border-color: #42305F;
	border-top: 1px solid #42305F;
}

.navbar-default a {
	color: #42305F !important;
}

section {
	padding: 40px 0;
}

footer {
	padding: 15px 0;
	background-color: #271B3A;
	color: #fff;
}

.site-conatiner {
	margin-top: 11px;
	position: relative;
}

.form-control {
	height: 40px !important;
}

.btn-search {
	color: #fff;
	background-color: #42305F;
	border-color: #42305F;
}

.btn-search:hover {
	color: #fff;
	background-color: #42305F;
	border-color: #42305F;
}

.container-fluid {
	max-width: 1400px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-left-0 {
	margin-left: 0px;
}

.margin-0 {
	margin: 0px;
}

.padding-0 {
	padding: 0px;
}

.width-100 {
	width: 100%;
}

.padding-left-0 {
	padding-left: 0px !important;
}

.gray {
	color: #BFBFBF;
	padding: 0 5px;
	cursor: pointer;
}

.black {
	color: #000;
	padding: 0 5px;
	cursor: pointer;
}

/* Star Rating*/
.star-rating {
	font-size: 0;
}

.star-rating__wrap {
	display: inline-block;
	font-size: 2rem;
}

.star-rating__wrap:after {
	content: "";
	display: table;
	clear: both;
}

.star-rating__ico {
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #42305F;
}

.star-rating__ico_unfilled, .star-rating__ico_filled {
	padding-left: 2px;
	cursor: pointer;
	color: #42305F;
}

.star-rating__ico:last-child, .star-rating__ico_unfilled:last-child,
	.star-rating__ico_filled:last-child {
	padding-left: 0;
}

.star-rating__input {
	display: none;
}

.star-rating__ico_filled:before, .star-rating__ico:hover:before,
	.star-rating__ico:hover ~ .star-rating__ico:before, .star-rating__input:checked 
	 ~ .star-rating__ico:before {
	content: "\f005";
}

/* Customer Pane*/
.panel-group .panel-title .button {
	display: inline-block;
	padding: 0px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.panel-group .panel-title a {
	text-decoration: none;
}

.panel-group .panel-heading {
	background-color: #fff;
}

.panel-group .panel-body {
	background-color: rgba(221, 221, 221, 0.15);
}

.booked-service-item {
	border: 1px solid #ddd;
	padding: 5px 10px;
}